
@import 'tailwindcss';
@import './components/forms.css';
@import './components/buttons.css';
@import './components/checkbox.css';
@import './components/utilities.css';


@theme {
  --color-primary: #67B744;
  --color-primary-dark: #186D3C;
  --color-primary-hover: #5AA33B;
  --color-primary-light: #9DD77F;
  --color-primary-darker: #467A30;
  --color-text-green: #4F8936;
  --color-info-blue:#2563EB ;
  --color-error: #E47689;
  --color-error-hover: #D9405E;
}

@import './components/variables.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  *:focus {
    outline: none;
  }

  html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Test Founders Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #ffffff;
    color: #111111;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
}
